@import '/css/fonts/fonts.css';

body {
    font-family: 'museo_sans300';
}

.btn-default, .form-control, .dropdown-menu > li > a {
    font-family: 'museo_sans300';
}

.btn-default, .form-control {
    border-radius: 0;
    background-color: #f9f9f9;
    box-shadow: none;
    padding: 0.5em 0.5em 0.35em;
    border: none;
}

.form-control:focus {
    box-shadow: none;
    border: none;
}

.btn {
    padding: 0.5em 0.5em 0.35em;
}
